@page "/MusteriList"
@using CompanyRecProject.Data
@inject MusteriService musterisService

<NavLink class="nav-link" href="AddNewMusteri">
    <span class="btn btn-success justify-contentstart-0" aria-hidden="true"> Müşteri Ekle</span>

</NavLink>



<h3>MÜŞTERİLER</h3>

@if(MusteriObject is null)
{
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Yükleniyor...
    </button>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Musteri No
                </th>
                <th>
                    Musteri İsim
                </th>
                <th>
                    Musteri Bakiye
                </th>
                <th>
                    Musteri Adress
                </th>
                <th>
                    Musteri Telefon
                </th>
                <th>
                    Düzenlemeler
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in MusteriObject)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.CustomerName
                    </td>
                    <td>
                        @item.Balance
                    </td>
                    <td>
                        @item.CustomerAdress
                    </td>
                    <td>
                        @item.CustomerPhone
                    </td>
                    <td>
                        <a class="nav-link btn btn-primary" href="EditMusteri/@item.Id">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                    </td>
                    
                </tr>
            }

        </tbody>
    </table>
}

@code {
    List<Musteri> MusteriObject;

    protected override async Task OnInitializedAsync()
    {
        MusteriObject = await Task.Run(() => musterisService.GetAllMusteris());
    }

}
